/* Geno Souder */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat&display=swap');

:root{
    --yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dark-gray: #222222;
	--light-gray: #EAEAEA;
	--white: #FFFFFF;
	--black: #000000;
}


/* Skip Link Styles */
#skip{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#skip:focus{
	position:static;
	width:auto;
	height:auto;
}
/* Hidden Content Styles */
.sr-only{
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* Heading Styles */
header{
	display: grid;
	grid-template-columns: .3fr 1fr;
	background: linear-gradient(to bottom, var(--teal) 0%, var(--white) 100%);
	padding-bottom: 5rem;
}

header a img{
	max-width: fit-content;
}

header p{
	grid-row: 3 / 4;
	grid-column: 1 / -1;
	font-size: large;
}


body{
	line-height: 1.5;
	width: 100%;
	margin: 0 auto;
	display: block;
}

#menuToggle label{
	color: var(--black);
	background-color: var(--yellow);
	text-align: center;
	padding: 1rem;
}

#menuToggle input {
	display: block;
	width: 100px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 20px;
	padding: 0;
	cursor: pointer;  
	opacity: 0; /* hide this */
	 /* and place it over the hamburger */  
	-webkit-touch-callout: none;
  }

#menu li{
	visibility: hidden;
	width: 0px;
	height: 0px;
}

#menu a{
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	text-align: center;
	background-color: var(--teal);
	border-bottom: solid var(--black);
	padding: 1rem;
	font-weight: bold;
}

#menuToggle input:checked + label {
	color: var(--white);
	background-color: var(--black);
	padding: .5rem;
}


#menuToggle input:checked ~ #menu li {
	visibility: visible;
	width: auto;
	height: auto;
}


h1, h2, h3{
    font-family: Molle, system-ui;
} 

h1{
	margin-left: 1rem;
	font-size: 5em;
	grid-column: 1 / -1;
	grid-row: 2 / 3;
}

h2{
	margin-left: 2rem;
    font-size: 4em;
}

h3{
	font-size: 3em;
}

h4{
	font-weight: bold;
	font-size: 2rem;
	text-transform: uppercase;
}

header p{
	font-size: 1.5rem;
	margin-left: 2rem;
}


h4, p, q, small, nav, button, form, ::placeholder, option, #mySubmit, footer{
	font-family: Montserrat, system-ui;
}

#intro img{
	width: 100%;
	margin-top: .5rem;
}

#intro p{
	font-size: 1.2rem;
	margin-left: 2rem;
}

#plan{
	margin-top: 1.5rem;
	background: var(--yellow);
	padding: 2rem;
}


#plan section{
	background: var(--teal);
	border: 3px solid var(--white);
	text-align: center;
	border-radius: 5px;
	padding: 2rem 2rem; 
	margin: .5rem;
}

#plan section h4{	
	padding-bottom: 1.25rem;
}

#testimonials{
	margin: 2rem;

}
#testimonials div{
	text-align: center;
}

#testimonials section p{
	font-size: 1.5rem;
}

q::before{
	content: '"';
}

q::after{
	content: '"';
}

#testimonials section q{
	font-size: 1.2rem;
	font-style: italic;
}


#about{
	background: var(--blue);
	padding: 3rem;
}

#about div{
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	justify-content: center;

}

#about h4{
	text-transform: uppercase;
}

#about p{
	font-size: 1.5rem;
	text-align: center;
}


#contact{
	margin: 2rem;
}

h3 span{
	font-size: 1.5rem;
	font-family: Montserrat, system-ui;
	font-style: italic;
}
label, legend{
	display: block;
	font-size: large;
	text-transform: uppercase;
	font-weight: bold;
}

::placeholder{
	color: var(--black);
	font-size: 1.2rem;
}


input{
	border: solid var(--purple);
	width: 90%;
	padding: 1.5rem;
	margin-bottom: 1rem;;
}

input[type="radio"] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: var(--purple);
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
	content: "";
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	transform: scale(0);
	transition: 120ms transform ease-in-out;
	box-shadow: inset 2em 2em var(--purple);
  }
  
input[type="radio"]:checked::before {
	transform: scale(1);
  }


.radio-label{
	font-weight: normal;
	font-size: 1rem;
}

.required{
	color: var(--purple);
}

fieldset{
	margin-bottom: 1rem;
}

select{
	appearance: none;
	background-color: transparent;
	border: none;
	padding: 1rem;
	margin: 0;
	width: 90%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
}

.custom-select {
	width: 90%;
	margin-bottom: 1rem;
	border: solid var(--purple);
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	display: grid;
	grid-template-areas: "select";
	align-items: center;
}

select, .custom-select:after {
  grid-area: select;
}

.custom-select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--purple);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	justify-self: end;
}


#mySubmit{
	background: var(--purple);
	color: var(--white);
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	width: 95%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem;
}


  footer{
	background: var(--light-gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	justify-content: space-evenly;
  }

  footer p{
	margin-bottom: 1rem;
  }
  footer p, footer a{
	text-decoration: none;
	color: var(--black);
  }


 /* Medium Screen Styles */
@media screen and (min-width: 600px){



	h1{
		font-size: 4rem;
		grid-column: 2 /3;
		grid-row: 1 /2;
		margin-left: 0;
	}

	header p{
		grid-column: 2 / 3;
		grid-row: 2 /3;
		margin-left: 0;
	}

	#intro, #plan, #testimonials, #about, #contact {
		padding: 2rem 5rem 2rem 5rem;
		margin-top: 0;
	}

	h2, #intro p{
		margin-left: 0;
	}

	#toggle, #menuToggle label{
		visibility: hidden;
		width: 0px;
		height: 0px;
	}

	#menu li{
		visibility: visible;
		width: auto;
		height: auto;
	}

	nav{
		grid-column: 1 / -1;
	}

	#menu{
		display: flex;
		justify-content: center;
		column-gap: 1rem;
	}

	#menu a{
		background: var(--white);
		color: var(--black);
		border-bottom: none;
		padding: 1rem 1rem;
	}

	#menu .active a{
		background: var(--yellow);
	}

	#img-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: .5rem;
	}

	picture{
		grid-column: 1 / -1;
	}

	#plan div{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#testimonials div{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#about div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
	}


	fieldset{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#mySubmit{
		width: 30%;
		display: block;
		margin-left: auto;
		margin-top: 3rem;
	}

	footer{
		flex-direction: row;
	}

	footer p{
		margin-top: 1rem;
	}


}

/* Large Screen Styles */
@media screen and (min-width: 1200px){

	header{
		grid-template-columns: .3fr 1fr 1fr;
	}

	nav{
		grid-column: 3 / 4;
		margin-left: auto;
	}

	h1{
		grid-column: 2 / 3;
	}

	#intro, #plan, #testimonials, #about, #contact{
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	#menu a{
		padding: .5rem;
		font-size: 1.5rem;
	}


	#intro{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	#intro p{
		grid-column: 1 / 2;
	}

	#plan div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#testimonials div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#about div{
		max-width:fit-content;
		margin: auto;
	}
	
	form{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}

	footer{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
	}
	footer p{
		margin-left: 1rem;
	}

	footer a{
		margin-left: 10rem;
	}
}

.custom-select {
	width: 90%;
	margin-bottom: 1rem;
	border: solid var(--purple);
	padding: 0.25em 0.5em;
	font-size: 1.25rem;
	cursor: pointer;
	line-height: 1.1;
	background-color: #fff;
	display: grid;
	grid-template-areas: "select";
	align-items: center;
}

select, .custom-select:after {
  grid-area: select;
}

.custom-select::after {
	content: "";
	width: 0.8em;
	height: 0.5em;
	background-color: var(--purple);
	clip-path: polygon(100% 0%, 0 0%, 50% 100%);
	justify-self: end;
}


#mySubmit{
	background: var(--purple);
	color: var(--white);
	font-size: 1.2rem;
	text-transform: uppercase;
	font-weight: bold;
	width: 95%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 1rem;
}


  footer{
	background: var(--light-gray);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
	justify-content: space-evenly;
  }

  footer p{
	margin-bottom: 1rem;
  }
  footer p, footer a{
	text-decoration: none;
	color: var(--black);
  }


 /* Medium Screen Styles */
@media screen and (min-width: 600px){



	h1{
		font-size: 4rem;
		grid-column: 2 /3;
		grid-row: 1 /2;
		margin-left: 0;
	}

	header p{
		grid-column: 2 / 3;
		grid-row: 2 /3;
		margin-left: 0;
	}

	#intro, #plan, #testimonials, #about, #contact {
		padding: 2rem 5rem 2rem 5rem;
		margin-top: 0;
	}

	h2, #intro p{
		margin-left: 0;
	}

	#toggle, #menuToggle label{
		visibility: hidden;
		width: 0px;
		height: 0px;
	}

	#menu li{
		visibility: visible;
		width: auto;
		height: auto;
	}

	nav{
		grid-column: 1 / -1;
	}

	#menu{
		display: flex;
		justify-content: center;
		column-gap: 1rem;
	}

	#menu a{
		background: var(--white);
		color: var(--black);
		border-bottom: none;
		padding: 1rem 1rem;
	}

	#menu .active a{
		background: var(--yellow);
	}

	#img-grid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 1rem;
		grid-row-gap: .5rem;
	}

	picture{
		grid-column: 1 / -1;
	}

	#plan div{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#testimonials div{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#about div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 1rem;
	}


	fieldset{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}

	#mySubmit{
		width: 30%;
		display: block;
		margin-left: auto;
		margin-top: 3rem;
	}

	footer{
		flex-direction: row;
	}

	footer p{
		margin-top: 1rem;
	}


}

/* Large Screen Styles */
@media screen and (min-width: 1200px){

	header{
		grid-template-columns: .3fr 1fr 1fr;
	}

	nav{
		grid-column: 3 / 4;
		margin-left: auto;
	}

	h1{
		grid-column: 2 / 3;
	}

	#intro, #plan, #testimonials, #about, #contact{
		padding-top: 6rem;
		padding-bottom: 6rem;
	}

	#menu a{
		padding: .5rem;
		font-size: 1.5rem;
	}


	#intro{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
	}

	#intro p{
		grid-column: 1 / 2;
	}

	#plan div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#testimonials div{
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	#about div{
		max-width:fit-content;
		margin: auto;
	}
	
	form{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 1rem;
	}

	footer{
		display: grid;
		grid-template-columns: 3fr 1fr 1fr;
	}
	footer p{
		margin-left: 1rem;
	}

	footer a{
		margin-left: 10rem;
	}


}
